/*====== CSS RESET =====*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===== body ======*/
body {
    max-width: 512px;
}

/*===== video ======*/

video {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

/*===== CLASSES ======*/
.background {
    background-color: #191D7B;
    padding-bottom: 60px;
}
.discord_logo {
    max-width: 100%;
}

.motto, .description_1 {
    color: white;
    text-align: center;
}

.motto {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'sigmar';
    font-size: 32px;
    line-height: 35px;
}

.description_1 {
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.download {
    border: 1px solid black;
    background-color: white;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    height: 50px;
    padding: 12px;
}

.open_discord {
    border: 1px solid black;
    background-color: #5865F2;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-size: 20px;
    height: 50px;
    padding: 12px;
}

.group_chats {
    margin-top: 40px;
    text-align: left;
    color: white;
    border: 1px solid black;
    background-image: url(/img/background.png);
    background-size: cover;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 10px;
    box-sizing: content-box;
    position: relative;
}

.group_chats2 {
    margin-top: 40px;
    text-align: left;
    color: white;
    border: 1px solid black;
    background-image: url(/img/background.png);
    background-size: cover;
    margin-right: 70px;
    margin-left: 70px;
    border-radius: 10px;
    box-sizing: content-box;
    position: relative;
}

.group_title {
    font-family: 'sigmar';
    margin-top: 55px;
    margin-left: 20px;
    font-size: 28px;
    line-height: 30px;
}

.emoji_stickers {
    font-family: 'DM Sans', sans-serif;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.discord_cube {
    width: 90px;
    position: absolute;
    top: -40px;
    left: 20px;
}

.discord_eyes {
    width: 90px;
    position: absolute;
    top: -40px;
    left: 20px;
}